DB_DBMS=dataBaseManagementService
DB_DRIVER_CLASS_NAME=driverDataBase
DB_DIALECT=dialect

#credenciales de la base de datos deployada
DB_URL=myDataBaseURLDeploy
DB_NAME=myDataBaseName
DB_USERNAME=myDataBaseUserName
DB_PASSWORD=myDataBasePassword